$mobile: 426px;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.sidePanel {
  flex: 0 0 200px;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 250px;

  @media screen and (max-width: $mobile) {
    padding: 1rem;
  }
}

.play-button {
  position: fixed;
  bottom: 70px;
  right: 30px;
  padding: 10px;
  border-radius: 50%;
  z-index: 111;
  &:hover {
    box-shadow: 0px 0px 10px 6px #0000ffc7;
  }
}

